#ant specific
dist/
build/
 
#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
 
#java specific
*.class
 
#general swap/backup/script files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
*.sh
*.txt.*

#project specific
dataEN/Articles/*.txt
dataEN/Summaries/*.Summary
dataEN/MachineLearningData/*.cg
dataEN/txtSummaries/*
dataEN/temp
dataEN/BaseDir/*.Links
dataEN/BaseDir/*.generic
dataEN/BaseDir/*.nameList
dataEN/Logger/*.txt
dataEL/Articles/*.txt
dataEL/Summaries/*.Summary
dataEL/MachineLearningData/*.cg
dataEL/txtSummaries/*
dataEL/temp
dataEL/BaseDir/*.Links
dataEL/BaseDir/*.generic
dataEL/BaseDir/*.nameList
dataEL/Logger/*.txt

# libs
lib/*.jar

